@charset "ISO-8859-1";
body
{
	
	background-color: #F0F8FF;
	color: white;
	margin: auto;
}
.header1{
	
	font-size: 20px;
	font-family: sitka text;
	font-style: bold;
	position:absolute;
	top: 0px;
	bottom: 0px;
	
}
.headerimage1
{
	position: absolute;
	
}